#####################BACKEND##########################

# Eclipse
**/.project
**/.classpath
**/.settings/
**/bin/

# IntelliJ
**/.idea
**/*.ipr
**/*.iml
**/*.iws

# NetBeans
**/nb-configuration.xml

# Visual Studio Code
**/.vscode

# OSX
**/.DS_Store

# Vim
**/*.swp
**/*.swo

# patch
**/*.orig
**/*.rej

# Maven
**/target/
**/pom.xml.tag
**/**/pom.xml.releaseBackup
**/pom.xml.versionsBackup
**/release.properties


#############CAR Simulation##################
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
**/**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr

### NetBeans ###
**/nbproject/private/
**/nbbuild/
**/dist/
**/nbdist/
**/.nb-gradle/
**build/

### VS Code ###
**/.vscode/

################APP##############
*~
**/*.sw[mnpcod]
**/.tmp
**/*.tmp
**/*.tmp.*
**/*.sublime-project
**/*.sublime-workspace
**/.DS_Store
**/Thumbs.db
**/UserInterfaceState.xcuserstate
**/$RECYCLE.BIN/

*.log
**log.txt
**npm-debug.log*

**/.idea
**/.ionic
/
**.sass-cache
**/.sourcemaps
**/.versions
**/.vscode
**/coverage
**/dist
**/node_modules
**/platforms
**/plugins
**/www
